<div class="p-3 mb-2 bg-black text-white d-flex justify-content-between">
   <div>
      <span> Home </span>
      <span  class="mx-3"> About </span>
      <span> Categories </span>
   </div>
   <div>
      <span class="fw-400"> JSDEVSTORE </span>
   </div>
   <div>
      <mat-icon>home</mat-icon>
      <mat-icon class="mx-3">favorite_border</mat-icon>
      <mat-icon class="position-relative">
         add_shopping_cart
      </mat-icon>
      <span class="position-absolute">
         5
       </span>
   
   </div>
</div>