.cat-img{
    width: 18rem !important;
}
.title{
    margin-top: 2.25rem !important;
}
.desc{
    display: inline-block;
    width: 15rem;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
