.content {
    /* height: 100vh; */
    width: 17rem;
    position: absolute;
    top: 0%;
    right: 0%
}

.border {
    border-bottom: 1px solid black;
}

.title {
    font-size: 0.75rem;
    font-weight: 500;
}

.list-group-item {
    height: 1.80rem;
    font-size: 0.85rem;
    padding: 0.2rem 0.8rem;
}
.quantity {
    font-size: 0.75rem;
}
.price {
    font-size: 0.75rem;
    color: #8a2be2; 
}
.subTotal {
    font-size: 0.85rem;
    font-weight: 600;
}
.totalPrice {
    font-size: 0.85rem;
    font-weight: 500;
    color: #8a2be2; 
}

.checkout {
    background-color: #8a2be2;
    width: 12rem
}

.emptyCart {
    margin-left: -1.3rem;
}
.returnToShop {
    margin-left: 2.0rem;
    background-color: #8a2be2;
    width: 12rem
}