<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row">
            <div class="card loginContainer w-50" style="height: 100vh; ">
                <div class="text-center">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                        style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">We are The Lotus Team</h4>
                </div>
                <div class="card-body login-body w-75 p-3">
                    <p>Please login to your account</p>
                    <form [formGroup]="loginFormGroup" (ngSubmit)="onLogIn()">
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Username" formControlName="identifier">
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" placeholder="Password"
                                formControlName="password">
                        </div>
                        <div class="text-center pt-1 mb-5 pb-1">
                            <button class="btn btn-primary gradient-custom-2 mb-3 w-50" type="submit">
                                Log in</button>
                            <div>
                                <a class="text-muted" href="#!">Forgot password?</a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-center pb-4">
                            <p class="mb-0 me-2">Don't have an account?</p>
                            <button type="button" class="btn btn-outline-danger" routerLink="/signup">
                                Create new
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card detailContainer w-50">
                <div class="d-flex align-items-end h-100">
                    <div class="px-3 py-4">
                        <h4 class="mb-4">Welcome To The Lotus online Store</h4>
                        <p> Enjoy Latest News & Exclusive Offers; Order History & Address Book;
                            Save Items In your Wishlist and much more.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>